* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

header {
    /* display: inline-block; */
    height: 92vh;
    max-height: 820px;
    max-width: 1920px;
    /* width: 1920px; */
    background-color: green;
    margin: auto;
    /* border: 2px solid brown; */
}

.hero {
    /* background-position: center center;
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/81b52f88-dc76-488d-a939-0cf13a260a6e/web/IN-en-20260622-TRIFECTA-perspective_d39d60ef-cb5a-4793-9546-0a8d9a87948e_large.jpg");
    background-size: cover;
    filter: brightness(35%); */

    /* border: 3px solid black; */
    height: 100%;
    width: 100%;
    /* background-color: blue; */
}

.hero-section {
    height: 100%;
    width: 100%;
    /* background-color: black; */
    background-position: center center;
    background: linear-gradient(rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.9) 5%, rgba(0, 0, 0, 0.8) 10%, rgba(0, 0, 0, 0.6) 20%, rgba(0, 0, 0, 0.8) 80%, rgba(0, 0, 0, 0.9) 100%), url("https://assets.nflxext.com/ffe/siteui/vlv3/81b52f88-dc76-488d-a939-0cf13a260a6e/web/IN-en-20260622-TRIFECTA-perspective_d39d60ef-cb5a-4793-9546-0a8d9a87948e_large.jpg");
    /* background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 20%, rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0.8) 100%); */
    background-size: cover;
}

.back-pic {

    /* background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/81b52f88-dc76-488d-a939-0cf13a260a6e/web/IN-en-20260622-TRIFECTA-perspective_d39d60ef-cb5a-4793-9546-0a8d9a87948e_large.jpg"); */

    background-size: cover;
    /* filter: brightness(35%); */
    /* border: 3px solid black; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}

.bar {
    width: 80%;
    /* background-color: pink; */
    margin: auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* background-color: yellow; */
    position: absolute;
    top: 0px;

}

.logo {
    height: 60%;
    /* margin-left: 16px; */
    /* align-self: flex-end; */
}

.logo>img {
    height: 100%;
    /* filter: brightness(150%); */
    filter: contrast(110%);
}

.action {
    display: flex;
    /* background-color: green; */
    gap: 10px;
    margin-bottom: 4px;
}

.language {
    display: flex;
    gap: 5px;
    height: 32px;
    width: 124px;
    color: white;
    background-color: rgb(20, 19, 19);
    border-style: none;
    border-radius: 3px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(95, 95, 95);
    border-radius: 4px;
    font-size: 15px;
}

.language img {
    height: 20px;
}


.sign-in {
    width: 77px;
    height: 32px;
    color: white;
    background-color: red;
    border-style: none;
    border-radius: 3px;
    font-weight: bold;
    font-size: 13px;
}

.hero-mid {
    width: 588px;
    height: 310px;
    /* background-color: red; */
    text-align: center;
    position: absolute;
    bottom: 32%;
}

.heading {
    color: white;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.heading>h1 {
    height: 140px;
    margin-bottom: 16px;
    font-size: 56px;
    font-weight: bold;
}

.heading>h2 {
    height: 26px;
    margin-bottom: 32px;
    font-size: 20px;
}

.read {
    color: white;
    height: 24px;
    margin-bottom: 16px;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.write {
    display: flex;
    justify-content: space-between;
}

.write>input {
    height: 56px;
    width: 367px;

    /* border: 1px solid rgb(47, 47, 47); */
    /* border: 1px solid white; */
    /* border: 1px solid rgb(47, 49, 49); */
    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 3px;
}

.ask-email {
    background-color: rgb(30, 30, 30);
    padding: 24px 16px;
    font-size: 16px;
    opacity: 40%;
}

.ask-email::placeholder {
    color: rgb(255, 255, 255);
}

.start-b {
    width: 213px;
    height: 56px;
    background-color: red;
    color: white;
    border-style: none;
    border-radius: 3px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-b>p {
    display: inline;
    margin-left: 10px;
}

.start-b svg {
    height: 26px;
    width: 40px;
    margin-left: 5px;
}

main {
    color: white;
    max-width: 1920px;
    margin: auto;
}

.head {
    height: 100px;
    /* background-color: red; */
    align-content: flex-end;
    margin-bottom: 10px;
}

.head>h2 {
    width: 80%;
    margin: auto;
    /* background-color: blue; */
    font-family: "Geist", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", Arial, sans-serif;
}



.slid-flex {
    padding-top: 10px;
    display: flex;
    align-content: center;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    /* background-color: aqua; */
    height: 268px;
    margin-bottom: 60px;
}

.slid-flex .slid {
    width: 224px;
    height: 100%;
    padding: 0px 22px;
    /* background-color: green; */
}

.slid .image {
    width: 180px;
    height: 252px;
    /* background-color: red; */
}

.img1 {
    background: url(1-slid.webp);
}

.img2 {
    background: url(2-slid.webp);
}

.img3 {
    background: url(3-slid.webp);
}

.img4 {
    background: url(4-slid.webp);
}

.img5 {
    background: url(5-slid.webp);
}

.num-slid {
    font-size: 80px;
    color: black;
    -webkit-text-stroke: 0.25rem rgb(255, 255, 255);
    paint-order: stroke fill;
    opacity: 1;
    font-family: Netflix Sans, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    position: relative;
    display: inline;
    top: 140px;
    left: -20px;
}

.slid .image img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}